/* Tag Reset */
*{
   box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #212529;

}

ul, ol{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: black;
}

input, button, textarea, select{
    outline: none;
}